/* Reset basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    width: 450px;
    text-align: center;
    
}

h1 {
    font-size: 1.9em;
    color: #333;
    margin-bottom: 2px;
    
}
p {
    margin-bottom: 25px;
}
.password-display {
    font-size: 1em;
    font-weight: bold;
    color: #555;
    word-wrap: break-word;
    padding: 13px 0px 10px 30px;
    background-color: transparent;

}

.slider-container {
    width: 100%;
    margin: 20px 0;
}

.slider-container label {
    font-size: 1em;
    color: #333;
}

#length {
    width: 100%;
    margin-top: 10px;
}

.length-value {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.options label {
    font-size: 1em;
    color: #555;
    margin-bottom: 8px;
}

button.generate-btn {
    background-color: #007bff;
    color: white;
    font-size: 1.1em;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.generate-btn:hover {
    background-color: #0056b3;
}

img{
    width:50px;
    height:50px;
    padding:6px
}
.main{
    display: flex;
    justify-content: space-between;
    
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.whole{
    display:flex;
    justify-content: space-evenly;
}

.container1 {
    background-color: #ffffff;
    padding: 40px;
    width: 450px;
}

li::before{
    background-image: url(unchecked.png);
}